<div id="content">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html"><i class="fa fa-fw fa-home"></i>Inicio</a>
      </li>
      <li class="breadcrumb-item"><i class="fa fa-fw fa-"></i>Planilla</li>
      <li class="breadcrumb-item"><i class="fa fa-fw fa-"></i>Contratos</li>
    </ol>
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-nav mr-auto">
        <span class="navbar-brand mb-0 h1">Contratos</span>
      </div>
      <div class="navbar-nav ml-auto">
        
      </div>
    </nav>
    <div class="col-md-10 offset-md-1">
      <div class="form-row mt-4">
          <div class="col-sm-6 pb-3">
            <label>Personal:</label>
            <select class="simple-select2-sm input-sm w-100 cbo-personalcontrato">
            </select>
          </div>
          <div class="col-sm-6 pb-3">
            <label>Cargo:</label>
            <select class="form-control form-control-sm col-sm-12 cbo-cargo">
            </select>
          </div>
          <div class="col-sm-4 pb-3">
            <label>Remuneración:</label>
            <input type="text" class="form-control form-control-sm" id="txt-remucontrato">
          </div>
          <div class="col-sm-8 pb-3 pt-2">
            <label></label>
            <input type="text" class="form-control form-control-sm" id="txt-remuconletra">
          </div>
          <div class="col-sm-6 pb-3">
            <label>Local:</label>
            <select class="form-control form-control-sm col-sm-12 cbo-localcontrato">
            </select>
          </div>
          <div class="col-sm-6 pb-3">
            <label>Jornada Laboral:</label>
            <select class="form-control form-control-sm col-sm-12 cbo-jornada">
            </select>
          </div>
      </div>
    </div>