<div id="content">
  <nav class="navbar header-page">
    <div class="d-flex flex-row">
      <span class="breadcrumb-item">
        <a href="Inicio"><i class="icon-home1"></i>Inicio</a>
      </span>
    </div>
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-outline-secondary" id="sidebarCollapse">
        <i class="icon-menu" aria-hidden="true"></i>
      </button>
    </div>
  </nav>

<div id-empresa="" id="div-detalle-empresa">
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 id="name-empresa"></h1>
    </div>
    <div class="col-sm-12">
      <h3 id="ruc-empresa"></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4 text-center">
      <a href="javascript:void(0)" target="_blank">
        <img src="assets/images/menu/m01.png" alt="">
        <div>Maestros</div>
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="javascript:void(0)">
        <img src="assets/images/menu/m02.png" alt="">
        <div>Control de Personal</div>
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="javascript:void(0)">
        <img src="assets/images/menu/m03.png" alt="">
        <div>Planilla</div>
      </a>
    </div>
    <div class="col-sm-6 text-center">
      <a href="javascript:void(0)">
        <img src="assets/images/menu/m04.png" alt="">
        <div>Reportes</div>
      </a>
    </div>
    <div class="col-sm-6 text-center">
      <a href="javascript:void(0)">
        <img src="assets/images/menu/m05.png" alt="">
        <div>Alertas</div>
      </a>
    </div>
  </div>
</div>