<div id="content">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="Inicio"><i class="icon-home1"></i>Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <i class="icon-gears"></i>Maestros
      </li>
      <li class="breadcrumb-item"><i class="icon-heart1"></i>Estado Civil</li>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
    </ol>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-nav mr-auto">
          <span class="navbar-brand mb-0 h1">Estado Civil</span>
        </div>
        <div class="navbar-nav ml-auto">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" id="btn-Exporte"><i class="fa fa-cloud-download"></i>&nbsp;Exportar</button>
            <button type="button" class="btn btn-dark" id="btn-Estadocivil" data-toggle="modal" data-target="#Modal-estadocivil"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
          </div>
        </div>
    </nav><br>
    <div class="row">
      <div class="col-12">
        <table id="tbt-estadocivil" class="display nowrap compact" style="width:100%">
          <thead>
              <tr>
                  <th>NRO</th>
                  <th>DESCRIPCIÓN</th>
                  <th>ESTADO</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>

  <!-- Modal -->
<div class="modal fade" id="Modal-estadocivil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lbl-estadocivil">Nuevo Estado Civil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control form-control-sm" id="txt-estadocivil" placeholder="estadocivil">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-insert-estadocivil">Guardar</button>
        <button type="button" class="btn btn-primary" id="btn-update-estadocivil" data-idestadocivil="" style="display: none;">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>