  <footer class="main-footer">
      <div class="text-center">
        <small>Copyright © SaidCorp 2018</small>
      </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap core JavaScript-->
  <!-- <script src="assets/vendor/jquery/jquery.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="assets/vendor/chart.js/Chart.min.js"></script>
<!--   <script src="assets/vendor/datatables/jquery.dataTables.js"></script>
<script src="assets/vendor/datatables/dataTables.bootstrap4.js"></script> -->
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
 
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin.min.js"></script>
  <!-- Custom scripts for this page-->
  <!-- <script src="assets/js/sb-admin-datatables.min.js"></script> -->
  <script src="assets/js/sb-admin-charts.min.js"></script>

  <!-- moment para formato de fecha -->
  <script src="assets/js/moment.js"></script>
  <script src="assets/js/moment.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

  <!-- scripts segun las vistas -->
  <script src="application/scripts/s_funciones.js"></script>
  <script src="application/scripts/s_usuario.js"></script>
  <script src="application/scripts/s_personal.js"></script>
  <script src="application/scripts/s_tipodocumento.js"></script>
  <script src="application/scripts/s_nacionalidad.js"></script>
  <script src="application/scripts/s_local.js"></script>
  <script src="application/scripts/s_cargo.js"></script>
  <script src="application/scripts/s_pension.js"></script>
  <script src="application/scripts/s_banco.js"></script>
  <script src="application/scripts/s_estadocivil.js"></script>
  <script src="application/scripts/s_plame.js"></script>
  <script src="application/scripts/s_promena.js"></script>
  <script src="application/scripts/s_contrato.js"></script>
  <script src="application/scripts/s_planilla.js"></script>

  <script src="application/scripts/s_control.js"></script>
</body>

</html>