<div id="content">
  <nav class="navbar header-page">
    <div class="d-flex flex-row">
      <span class="breadcrumb-item">
        <a href="Inicio"><i class="icon-home1"></i>Inicio</a>
      </span>
    </div>
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-outline-secondary" id="sidebarCollapse">
        <i class="icon-menu" aria-hidden="true"></i>
      </button>
    </div>
  </nav>

<div id="div-empresas">
  <nav class="navbar navbar-light bg-light subheader-page-empresa">
    <div class="navbar-nav mr-auto">
      <span class="navbar-brand mb-0 h1">Empresas</span>
    </div>
    <div class="navbar-nav ml-auto">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#Modal-empresa"><i class="fa fa-plus"></i>&nbsp;Agregar Empresa</button>
      </div>
    </div>
  </nav>

  <!-- Boton de inicio-->
  <div class="row" id="empty-company"></div>

  <!-- Cards de empresas-->
  <!-- <form onsubmit="return false"> -->
  <div class="row" id="card-empresa"></div>
  <!-- </form> -->
  <div id="pruebajeje"></div>
<!-- Modal -->
  <div class="modal fade" id="Modal-empresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lbl-empresa">Agregar Empresa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form onsubmit="return false">
            <div class="row">
              <div class="col-sm-12">
                <label for="">RUC:</label>
                <input class="form-control" id="txt-ruc" type="text">
              </div>
              <div class="col-sm-12">
                <label for="">Razón Social:</label>
                <input class="form-control" id="txt-rs" type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn-save-empresa">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>