<div class="wrapper">
  <!-- Sidebar  -->
    <nav id="sidebar">
<!--         <div style="width: 500px;background-color: #000;color: #fff;position: fixed;z-index: 999;">LSKDFJJASJFLSJDFLASJDFLJASLDKFJLKAJLAKSDLFKJSALDFKJLASKDFJLKSJFLKSDJFLJSLKJFLKSJDLKDJFLKSJDLKFJLSAKDJFLKSJDFSDLFKJ</div> -->
        <div class="sidebar-header">
            <img src="assets/images/logo-icon.png" alt="">
        </div>
            <ul class="list-unstyled components">
                <p>Bienvenid@</p>
                <li class="active">
                  <a href="Inicio"><i class="icon-home1"></i><br>Inicio</a>
                </li>
                <li>
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"><i class="icon-gears"></i><br>Maestros</a>
                    <ul class="collapse sub-sidebar" id="submenu1">
                        <div>Maestros</div>
                        <li>
                            <a href="Personal"><i class="icon-user-circle"></i>Personal</a>
                        </li>
                        <li>
                            <a href="DocumentoIdentidad"><i class="icon-id-card-o"></i>Doc. Identificación</a>
                        </li>
                        <li>
                            <a href="Nacionalidad"><i class=" icon-flag1"></i>Nacionalidad</a>
                        </li>
                        <li>
                            <a href="EstadoCivil"><i class="icon-heart1"></i>Estado Civil</a>
                        </li>
                        <li>
                            <a href="Local">Local</a>
                        </li>
                        <li>
                            <a href="Cargo">Cargo</a>
                        </li>
                        <li>
                            <a href="RegimenPensionario">Régimen Pensionario</a>
                        </li>
                        <li>
                            <a href="Banco">Banco</a>
                        </li>
                        <li>
                            <a href="ConceptosPlame">Conceptos Plame</a>
                        </li>
                        <li>
                            <a href="Productos">Productos y Menajería</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Planilla</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="ReportePlanilla">Rep. Planilla</a>
                        </li>
                        <li>
                            <a href="Contratos">Contratos</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://www.saidcorp.pe" class="download">SaidCorp</a>
                </li>
            </ul>
      </nav>

  