<div class="wrapper">
  <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="assets/images/logo-icon.png" alt="">
        </div>
        <div class="sidebar-subheader">
            <p>Bienvenid@</p>
        </div>
        <ul class=" components">
            <li class="active">
                <a href="Inicio"><i class="icon-home1"></i><br>Inicio</a>
            </li>
        <div id="menu-empresa" id-empresa="" style="display: none;">    
            <li>
                <a href="javascript:void(0)"><i class="icon-gears"></i><br>Maestros</a>
                <ul>
                    <div>Maestros</div>
                    <li>
                        <a href="Personal"><i class="icon-user-circle"></i>Personal</a>
                    </li>
                    <li>
                        <a href="DocumentoIdentidad"><i class="icon-id-card-o"></i>Doc. Identificación</a>
                    </li>
                    <li>
                        <a href="Nacionalidad"><i class=" icon-flag1"></i>Nacionalidad</a>
                    </li>
                    <!-- <li>
                        <a href="EstadoCivil"><i class="icon-heart1"></i>Estado Civil</a>
                    </li> -->
                    <li>
                        <a href="Local"><i class="icon-office"></i>Local</a>
                    </li>
                    <li>
                        <a href="Cargo"><i class="icon-profile"></i>Cargo</a>
                    </li>
                    <li>
                        <a href="RegimenPensionario"><i class="icon-clipboard"></i>Régimen Pensionario</a>
                    </li>
                    <li>
                        <a href="Banco"><i class="icon-bank"></i>Banco</a>
                    </li>
                    <li>
                        <a href="ConceptosPlame"><i class="icon-book"></i>Conceptos Plame</a>
                    </li>
                    <li>
                        <a href="Productos"><i class="icon-list-alt"></i>Productos y Menajería</a>
                    </li>
                    <li>
                        <a href="TiposContrato"><i class="icon-highly icon-file-text-o"></i>Tipos de Contrato</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="icon-equalizer"></i><br>Control de Personal</a>
                <ul class="sub-sidebar">
                    <li>
                        <a href="asistencia">Control de Asistencia</a>
                    </li>
                    <li>
                        <a href="Contratos">Control de Ingresos</a>
                    </li>
                    <li>
                        <a href="ReportePlanilla">Control de Descuentos</a>
                    </li>
                    <li>
                        <a href="Contratos">Control de Vacaciones</a>
                    </li>
                    <li>
                        <a href="ReportePlanilla">Control Documentario</a>
                    </li>
                    <li>
                        <a href="Contratos">Control de Pagos</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="icon-file-text"></i><br>Planilla</a>
                <ul class="sub-sidebar">
                    <li>
                        <a href="ReportePlanilla">Remuneración</a>
                    </li>
                    <li>
                        <a href="Contratos">Vacaciones</a>
                    </li>
                    <li>
                        <a href="Contratos">Gratificación</a>
                    </li>
                    <li>
                        <a href="Contratos">CTS</a>
                    </li>
                    <li>
                        <a href="Contratos">Utilidades</a>
                    </li>
                    <li>
                        <a href="Contratos">Liquidación</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="icon-stats-bars"></i><br>Reportes</a>
                <ul class="sub-sidebar">
                    <li>
                        <a href="ReportePlanilla">Por definir</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class=" icon-bell"></i><br>Alertas</a>
                <ul class="sub-sidebar">
                    <li>
                        <a href="ReportePlanilla">Vencimiento de Contratos</a>
                    </li>
                    <li>
                        <a href="Contratos">Vencimiento de Pago</a>
                    </li>
                    <li>
                        <a href="Contratos">Vacaciones</a>
                    </li>
                </ul>
            </li>
        </div>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://www.saidcorp.pe" class="download">SaidCorp</a>
            </li>
        </ul>
    </nav>