<div class="wrapper">
  <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="assets/images/logo-icon.png" alt="">
        </div>
        <div class="sidebar-subheader">
            <p>Bienvenid@</p>
        </div>
        <ul class=" components">
            <li class="active">
                <a href="Inicio"><i class="icon-home1"></i><br>Inicio</a>
            </li>
            <li>
                <a href="Personal"><i class="icon-user-circle"></i><br>Personal</a>
            </li>
            <li>
                <a href="DocumentoIdentidad"><i class="icon-id-card-o"></i><br>Doc. Identificación</a>
            </li>
            <li>
                <a href="Nacionalidad"><i class=" icon-flag1"></i><br>Nacionalidad</a>
            </li>
            <li>
                <a href="Local"><i class="icon-office"></i><br>Local</a>
            </li>
            <li>
                <a href="Cargo"><i class="icon-profile"></i><br>Cargo</a>
            </li>
            <li>
                <a href="RegimenPensionario"><i class="icon-clipboard"></i><br>Régimen Pensionario</a>
            </li>
            <li>
                <a href="Banco"><i class="icon-bank"></i><br>Banco</a>
            </li>
            <li>
                <a href="ConceptosPlame"><i class="icon-book"></i><br>Conceptos Plame</a>
            </li>
            <li>
                <a href="Productos"><i class="icon-list-alt"></i><br>Productos y Menajería</a>
            </li>
            <li>
                <a href="TiposContrato"><i class="icon-highly icon-file-text-o"></i><br>Tipos de Contrato</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://www.saidcorp.pe" class="download">SaidCorp</a>
            </li>
        </ul>
    </nav>