<div id="content">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html"><i class="fa fa-home"></i>Inicio</a>
      </li>
      <li class="breadcrumb-item"><i class="fa fa-fw fa-wrench"></i>Maestros</li>
      <li class="breadcrumb-item"><i class="fa fa-clipboard"></i>Pension</li>
    </ol>
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-nav mr-auto">
        <span class="navbar-brand mb-0 h1">Régimen Pensionario</span>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" id="btn-Exportpe"><i class="fa fa-cloud-download"></i>&nbsp;Exportar</button>
          <button type="button" class="btn btn-dark" id="btn-Pension" data-toggle="modal" data-target="#Modal-pension"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
          </div>
      </div>
    </nav><br>
    <div class="row">
      <div class="col-12">
        <table id="tbt-pension" class="display nowrap compact">
          <thead>
              <tr>
                  <th>NRO</th>
                  <th>DESCRIPCIÓN</th>
                  <th>FONDO</th>
                  <th>SEGURO</th>
                  <th>COMISION S/F</th>
                  <th>COMISION MIXTA</th>
                  <th>ESTADO</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  <!-- Modal -->
<div class="modal fade" id="Modal-pension" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lbl-pension">Nuevo Régimen pensionario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" id="txt-pension" placeholder="Régimen pensionario">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Fondo:</label>
              <input type="text" class="form-control form-control-sm" id="txt-fondo" placeholder="Fondo">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Seguro:</label>
              <input type="text" class="form-control form-control-sm" id="txt-seguro" placeholder="Seguro">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Comisión S/F:</label>
              <input type="text" class="form-control form-control-sm" id="txt-comisionsf" placeholder="Comisión Sobre Flujo">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Comisión Mixta:</label>
              <input type="text" class="form-control form-control-sm" id="txt-comisionm" placeholder="Comisión Mixta">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-insert-pension">Guardar</button>
        <button type="button" class="btn btn-primary" id="btn-update-pension" data-idpension="" style="display: none;">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>