<div id="content">
  <nav class="navbar header-page">
    <div class="d-flex flex-row">
      <span class="breadcrumb-item">
        <a href="index.html"><i class="icon-home1"></i>Inicio</a>
      </span>
      <span class="breadcrumb-item">
        <i class="icon-gears"></i>Maestros
      </span>
      <span class="breadcrumb-item">
        <i class=" icon-user-circle-o"></i>Personal</li>
      </span>
    </div>
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-outline-secondary" id="sidebarCollapse">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
  </nav>

  <nav class="navbar navbar-light bg-light subheader-page">
    <div class="navbar-nav mr-auto">
      <span class="navbar-brand mb-0 h1">Personal</span>
    </div>
    <div class="navbar-nav ml-auto">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id="btn-Exportp"><i class="fa fa-cloud-download"></i>&nbsp;Exportar</button>
        <button type="button" class="btn btn-dark btn-Personal"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
        <button type="button" class="btn btn-info" id="btn-SaveP" style="display: none;"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-info" id="btn-update-personal" data-idpersonal="" style="display: none;"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-danger" id="btn-CloseP" style="display: none;"><i class="fa fa-share"></i>&nbsp;Atrás</button>
      </div>
    </div>
  </nav>
  
<div class="row">
  <div class="col-12">
    <div id="div-tbtPersonal">
      <table id="tbt-personal" class="display nowrap compact" style="width:100%">
        <thead>
          <tr>
            <th>N°</th>
            <th>DNI/CE</th>
            <th>APELLIDOS</th>
            <th>NOMBRES</th>
            <th>LOCAL</th>
            <th>CARGO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div id="prev-addPersonal" style="display: none;">
      <h5 class="modal-title">Nuevo Personal</h5>
      <div class="card-body" style="background-color: white;">
        <!-- inicio -->
        <form>
          <div class="col-md-10 offset-md-1">
            <div class="form-row mt-4">
              <div class="col-sm-3 pb-3">
                <label for="exampleFirst">Apellidos</label>
                <input type="text" class="form-control form-control-sm" id="txt-apellidos_i">
              </div>
              <div class="col-sm-3 pb-3">
                <label for="exampleLast">Nombres</label>
                <input type="text" class="form-control form-control-sm" id="txt-nombres_i">
              </div>
              <div class="col-sm-3 pb-3">
                <label>Tipo de documento:</label>
                <select class="form-control form-control-sm cbo-tipodoc">
                </select>
              </div>
              <div class="col-sm-3">
                <label>Número de documento:</label>
                <input type="text" class="form-control form-control-sm" placeholder="#" id="txt-numdoc_i">
              </div>
            </div>
          </div>
        </form>
        <!-- fin -->
      </div>      
    </div>

    <div id="div-addPersonal" style="display: none;"><!--  -->
      <h5 class="modal-title" id="lbl-personal">Nuevo Personal</h5>
      <hr>
      <form onsubmit="return false">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  INFORMACIÓN GENERAL
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <!-- inicio -->
                <div class="col-md-10 offset-md-1">
                  <div class="form-row mt-4">
                    <div class="col-sm-3 pb-3">
                      <label for="exampleFirst">Apellidos</label>
                      <input type="text" class="form-control form-control-sm" id="txt-apellidos">
                    </div>
                    <div class="col-sm-3 pb-3">
                      <label for="exampleLast">Nombres</label>
                      <input type="text" class="form-control form-control-sm" id="txt-nombres">
                    </div>
                    <div class="col-sm-3 pb-3">
                      <label>Tipo de documento:</label>
                      <select class="form-control form-control-sm cbo-tipodoc">
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <label>Número de documento:</label>
                      <input type="text" class="form-control form-control-sm" placeholder="#" id="txt-numdoc">
                    </div>
                    <div class="col-sm-4">
                      <div class="form-row">
                        <div class="col-sm-6">
                          <label class="mt-1">Fecha de nacimiento:</label>
                        </div>
                        <div class="col-sm-6">
                          <input type="date" class="form-control form-control-sm mr-2" id="txt-fechanac">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                          <label class="mt-1">Sexo:</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="form-group small mt-2">
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="rd-sexo" id="rd-femenino" value="F"> Femenino
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="rd-sexo" id="rd-masculino" value="M"> Masculino
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-row">
                        <div class="col-sm-4">
                          <label class="mt-1">Estado civil:</label>
                        </div>
                        <div class="col-sm-8">
                          <select class="form-control form-control-sm cbo-estadocivil">
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12"><hr></div>
                  <div class="form-row mt-4">
                    <div class="col-sm-6">
                      <label for="exampleLast">Nacionalidad:</label>
                      <select class="form-control form-control-sm col-sm-12 cbo-nacionalidad">
                      </select>
                    </div>
                    <div class="col-sm-3 pb-3">
                      <label >Télefono/Celular</label>
                      <input type="text" class="form-control form-control-sm" id="txt-telefono">
                    </div>
                    <div class="col-sm-3 pb-3">
                      <label for="exampleCtrl">E-mail</label>
                      <input type="text" class="form-control form-control-sm" id="txt-email" placeholder="ejemplo@dominio.com">
                    </div>
                    <!-- <div class="col-sm-3 pb-3">
                      <label for="exampleAmount">E-mail corporativo</label>
                      <input type="text" class="form-control form-control-sm" id="txt-emailcorp" placeholder="ejemplo@dominio.com">
                    </div> -->
                    <div class="col-sm-3">
                      <label for="exampleFirst">Urbanización:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-urb">
                    </div>
                    <div class="col-sm-3">
                      <label for="exampleFirst">Jiron:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-jiron">
                    </div>
                    <div class="col-sm-3">
                      <label for="exampleFirst">Pasaje:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-pasaje">
                    </div>
                    <div class="col-sm-3">
                      <label for="exampleFirst">Int/Ofi.:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-intofi">
                    </div>
                    <div class="col-sm-6 pb-3">
                      <label for="exampleFirst">Dirección:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-direccion">
                    </div>
                    <div class="col-sm-2 pb-3">
                      <label for="exampleFirst">Departamento:</label>
                      <select class="form-control form-control-sm col-sm-12 cbo-departamento">
                      </select>
                    </div>
                    <div class="col-sm-2 pb-3">
                      <label for="exampleFirst">Provincia:</label>
                      <select class="form-control form-control-sm col-sm-12 cbo-provincia">
                      </select>
                    </div>
                    <div class="col-sm-2 pb-3">
                      <label for="exampleFirst">Distrito:</label>
                      <select class="form-control form-control-sm col-sm-12 cbo-distrito">
                      </select>
                    </div>
                    <div class="col-sm-8 offset-sm-2 pb-3">
                      <label for="exampleFirst">Referencia:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-referencias">
                    </div>
                    <div class="col-sm-12">
                      <label for="exampleFirst">Dirección DNI:</label>&nbsp;<span class="icon-plus span-ver"></span>
                      <div class="row" id="div-ver" style="display: none;">
                        <div class="col-sm-6">
                          <label for="exampleFirst">Dirección:</label>
                          <input type="text" class="form-control form-control-sm" id="txt-direcciondni">
                        </div>
                        <div class="col-sm-2">
                          <label for="exampleFirst">Departamento:</label>
                          <select class="form-control form-control-sm cbo-departamentodni">
                          </select>
                        </div>
                        <div class="col-sm-2">
                          <label for="exampleFirst">Provincia:</label>
                          <select class="form-control form-control-sm col-sm-12 cbo-provinciadni">
                          </select>
                        </div>
                        <div class="col-sm-2">
                          <label for="exampleFirst">Distrito:</label>
                          <select class="form-control form-control-sm col-sm-12 cbo-distritodni">
                          </select>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                <!-- fin -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  INFORMACIÓN LABORAL
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <!-- inicio -->
                <div class="col-md-10 offset-md-1">
                  <div class="row mt-5">
                    <div class="col-sm-6">
                      <label >Ocupación:</label>
                      <select class="form-control form-control-sm cbo-ocupacion">
                      </select>
                    </div>
                    <div class="col-sm-6 pb-3">
                      <div class="form-row">
                        <div class="col-sm-5">
                          <label >Régimen Pensionario:</label>
                          <select class="form-control form-control-sm cbo-regpension">
                          </select>
                        </div>
                        <div class="col-sm-2 mt-4">
                          <input type="checkbox" name="chk-comision" disabled="">
                          <label>Mixta</label>
                        </div>
                        <div class="col-sm-5">
                          <label>CUSPP:</label>
                          <input type="text" class="form-control form-control-sm" placeholder="CUSPP" id="txt-cuspp" disabled="">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <label >Tipo de pago:</label>
                      <select class="form-control form-control-sm cbo-tpago">
                      </select>
                    </div>
                    <div id="view-cbobanco" class="col-sm-8 pb-3" style="display: none;">
                      <div class="form-row">
                        <div class="col-sm-6">
                          <label>Banco:</label>
                          <select class="form-control form-control-sm cbo-banco">
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label>N° de cuenta:</label>
                          <input type="text" class="form-control form-control-sm" placeholder="# Cta." id="txt-numcta">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2 pb-3">
                      <label >Remuneración:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-remuneracion">
                    </div>
                    <div class="col-sm-2 pb-3">
                      <label for="exampleCtrl">R/C:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-recargoconsumo">
                    </div>
                    <div class="col-sm-2">
                      <label for="exampleCtrl">Por hora:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-porhora" readonly="">
                    </div>
                    <div class="col-sm-2">
                      <label for="exampleCtrl">Por día:</label>
                      <input type="text" class="form-control form-control-sm" id="txt-pordia" readonly="">
                    </div>

                    <div class="col-sm-10 pb-3">
                      <table id="tbt-vinculolaboral" class="display nowrap compact" style="width:100%">
                        <thead>
                          <tr>
                            <th>Tipo de contrato</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Cese</th>
                            <th>T-registro</th>
                            <th>Contrato</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-2 pb-3 mt-4">
                      <button type="button" class="btn btn-outline-success" id="add-vinculolaboral" data-toggle="modal" data-target="#Modal-vinculolaboral"><i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                </div>
                <!-- fin -->
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  INFORMACIÓN DE SEGURIDAD SOCIAL
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6 offset-sm-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <label>Regimen de Salud:</label>
                      <span class="badge badge-secondary add-rs" data-toggle="modal" data-target=".bd-example-modal-sm">Agregar +</span>
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-6 offset-sm-2">
                      <table id="tbt-regsalud" class="display nowrap compact" style="width:100%">
                        <thead>
                          <tr>
                            <th>Régimen de salud</th>
                            <th>Fecha inicio</th>
                            <th>Fecha Fin</th>
                            <th>Entidad prestadora de Salud</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                  </div>
                  <div class="col-sm-2">
                    <label>¿Aporta al SCTR?</label>
                    <div class="form-group small mt-2">
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="rd-sctr" id="rd-sisctr" value="1"> Si
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="rd-sctr" id="rd-nosctr" value="0"> No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- Modal -->
<div class="modal fade" id="Modal-vinculolaboral" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lbl-vinculo">Vínculo Laboral</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 pb-3">
            <div class="form-group">
              <label >Establecimiento de trabajo:</label>
                <select class="form-control form-control-sm cbo-local">
                </select>
            </div>                      
          </div>
          <div class="col-sm-4 pb-3">
            <div class="form-group">
              <label >Cargo:</label>
                <select class="form-control form-control-sm cbo-cargo">
                </select>
            </div>
          </div>
          <div class="col-sm-2 pb-3">
             <div class="form-group">
              <br>
                <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#Modal-funciones"><i class="fa fa-eye"></i> Funciones</button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label>Tipo de Contrato:</label>
              <select class="form-control form-control-sm col-sm-12 cbo-tcontrato">
              </select>
            </div>
          </div>
          <div class="col-sm-6 pb-3">
            <label >Fecha inicio:</label>
            <input type="date" class="form-control form-control-sm" id="fechai-laboral">
          </div>
          <div class="col-sm-6 pb-3">
            <label >Fecha cese:</label>
            <input type="date" class="form-control form-control-sm" id="fechac-laboral">
          </div>
          <div class="col-sm-12 pb-3">
            <div class="form-group">
              <label>T-registro</label>
              <input type="file" class="form-control-file form-control-sm">
            </div>
          </div>
          <div class="col-sm-12 pb-3">
            <div class="form-group">
              <label>Contrato</label>
              <input type="file" class="form-control-file form-control-sm">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="save-vinculolaboral">Guardar</button>
        <button type="button" class="btn btn-primary" id="btn-update-vinculolaboral" data-idvinculo="" style="display: none;">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal-funciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Funciones del cargo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="txt-viewfunc" class="text-justify"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <label>Régimen de salud:</label>
            <select class="form-control form-control-sm col-sm-12 cbo-regsalud">
            </select>
          </div>
          <div class="col-sm-12">
            <label>Fecha inicio:</label>
            <input type="text" class="form-control form-control-sm" id="fechai-regsalud">
          </div>
          <div class="col-sm-12">
            <label>Fecha fin:</label>
            <input type="text" class="form-control form-control-sm" id="fechaf-regsalud">
          </div>
          <div class="col-sm-12" id="view-eps" style="display: none;">
            <label>Entidad prestadora de salud:</label>
            <select class="form-control form-control-sm col-sm-12 cbo-eps">
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>