<div id="content">
  <nav class="navbar header-page">
    <div class="d-flex flex-row">
      <span class="breadcrumb-item">
        <a href="index.html"><i class="icon-home1"></i>Inicio</a>
      </span>
      <span class="breadcrumb-item">
        <i class="icon-gears"></i>Maestros
      </span>
      <span class="breadcrumb-item">
        <i class="icon-id-card-o"></i>Documento de identidad
      </span>
    </div>
    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn btn-outline-secondary" id="sidebarCollapse">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
  </nav>

  <nav class="navbar navbar-light bg-light subheader-page">
    <div class="navbar-nav mr-auto">
      <span class="navbar-brand mb-0 h1">Documento de identidad</span>
    </div>
    <div class="navbar-nav ml-auto">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id="btn-Exportdi"><i class="fa fa-cloud-download"></i>&nbsp;Exportar</button>
        <button type="button" class="btn btn-dark" id="btn-identidad" data-toggle="modal" data-target="#Modal-documento"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
      </div>
    </div>
  </nav>

    <div class="row">
      <div class="col-12">
        <table id="tbt-tipodocumento" class="display nowrap compact" style="width:100%">
          <thead>
              <tr>
                  <th>NRO</th>
                  <th>DESCRIPCIÓN</th>
                  <th>ESTADO</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  <!-- Modal -->
<div class="modal fade" id="Modal-documento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lbl-tipodocumento">Nuevo Tipo de documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12"><input type="text" class="form-control form-control-sm" id="txt-tipodocumento" placeholder="Tipo de documento"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-insert-tipodocumento">Guardar</button>
        <button type="button" class="btn btn-primary" id="btn-update-tipodocumento" data-idtipodocumento="" style="display: none;">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>