<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>jQuery Word Export Plugin Demo</title>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/css/style4.css">
</head>

<body style="font-family: Arial;">

<div style="width: 80%;margin: 0px auto;">

<div id="fulltime-chimbote">
	<p style="font-family: Arial;margin: 1px; font-size: 14.5px;font-weight: bold;text-align: center;">CONTRATO DE TRABAJO</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 13.5px;font-weight: bold;text-align: center;">“INICIO O INCREMENTO DE ACTIVIDAD POR APERTURA DE NUEVO ESTABLECIMIENTO”</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		PRIMERA: Identificación de las partes
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">Conste por el presente documento, el CONTRATO DE TRABAJO A PLAZO FIJO, BAJO LA MODALIDAD DE INICIO O INCREMENTO DE ACTIVIDAD POR APERTURA DE NUEVO ESTABLECIMIENTO, que celebran:</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">- ANDARPA INVERSIONES SAC, con RUC n.º 20569146926, con domicilio en P.J. 3 de Octubre Mz. 10A Lt. 1 - Distrito de Nuevo Chimbote, Provincia Del Santa, Región Ancash, representada por LYNDA AINALEM GARCIA COTRINA, con DNI n.º 40054576, a quien en adelante se le denominará EL EMPLEADOR; y,
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">-	LOZANO JUAREZ GIANELLA JENIFFER, con DNI n.º 70118878, domiciliado en JR. LIBERTAD 135 PJ MIRAMAR BAJO MZ G LT 14A, Distrito de CHIMBOTE, Provincia Del Santa, Región Ancash, a quien en adelante se le denominará EL TRABAJADOR.</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		SEGUNDA: Antecedentes
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL EMPLEADOR, es una persona jurídica, acogida al Régimen de la Microempresa, según solicitud de trámite REMYPE n.° 0001250017-2013, de fecha 09 de agosto de 2013, y regulada por el Decreto Legislativo n.° 1086, tiene como principal actividad económica el expendio de productos alimenticios, así como, el servicio de restaurantes y catering.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		TERCERA: Objeto del Contrato
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL EMPLEADOR, en el desarrollo de su objeto social, viene incorporando al interior del organigrama empresarial, una serie de puestos de naturaleza temporal, en consideración a que el número de clientes se ha elevado de manera considerable, lo que ha conllevado a la apertura de un nuevo establecimiento, el cual se encuentra ubicado en Avenida José Pardo n.º 545-549, Distrito de Chimbote, Provincia del Santa, local que ha sido arrendado a favor de EL EMPLEADOR, según Contrato de Arrendamiento de Bien Inmueble, que corre inscrito en el Asiento D0003 de la Partida Registral n.º 07002202, del Registro de Propiedad Inmueble, de la Zona Registral n.º VII Sede Huaraz, Oficina Registral Chimbote; y el cual cuenta con Licencia Municipal de Funcionamiento otorgada por la Municipalidad Provincial del Santa en el mes de junio de 2017, requiriéndose, por ende, contar temporalmente, con un mayor número de personal, el cual es indispensable para cubrir las necesidades del nuevo establecimiento.
		</p>
		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Por esta causa, debidamente sustentada, EL EMPLEADOR, al amparo del Artículo 57 de la Ley de Productividad y Competitividad Laboral, aprobado por Decreto Supremo n.° 003-97-TR y normas complementarias, CONTRATA A PLAZO FIJO, BAJO LA MODALIDAD DE INICIO O INCREMENTO DE ACTIVIDAD, POR APERTURA DE NUEVO ESTABLECIMIENTO, los servicios de EL TRABAJADOR, quien desempeñará el cargo de CAPTURA EMOCIONES, en el ÁREA DE SERVICIO, debiendo cumplir con las funciones: Recopilar las fotos solicitadas por los invitados y/o LA EMPRESA, para la promoción en las redes sociales u otras plataformas en las que se requiera, y otras funcinoes afines o impartidas por la Administración o Gerencia.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		CUARTA: Duración del contrato
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		El presente contrato inicia el 02/07/2018 y culmina el 31/12/2018.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		QUINTA: Régimen Laboral Especial
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL TRABAJADOR es contratado bajo el RÉGIMEN LABORAL ESPECIAL, regulado por el TUO de la Ley de Impulso al Desarrollo Productivo y al Crecimiento Empresarial, aprobado por Decreto Supremo n.° 013-2013-PRODUCE, que estableció el marco legal para la promoción de la competitividad, formalización y desarrollo de las micro, pequeñas y medianas empresas, en el cual establece que los trabajadores de la pequeña empresa tienen derecho a:
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Percibir por lo menos una remuneración mínima vital;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Una jornada máxima de 08 horas diarias o 48 horas semanales;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Gozar de los feriados establecidos en el Régimen Laboral Común;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Al descanso semanal mínimo de 24 horas continuas y pago por sobretiempo;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">vicios;
		-	Al descanso vacacional de 15 días calendarios por cada año completo de ser
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	A afiliarse como asegurado regular del régimen contributivo de ESSALUD;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	A afiliarse al Sistema Nacional de Pensiones o al Sistema Privado de Pensiones;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	A percibir 02 gratificaciones al año (Fiestas Patrias y Navidad) en razón del 50% de la remuneración;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Al seguro de vida ley, a partir de los 4 años de servicios para el mismo empleador;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	A participar de las utilidades de la empresa, en caso corresponda;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Al depósito de la CTS equivalente a 15 días de remuneración por año de servicio, hasta el tope de 90 días de remuneración.
		</p>
		<p style="font-family: Arial; margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Asimismo, establece que, NO tienen DERECHO a: 
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	La sobretasa del 35% en horario nocturno, según el artículo 53 del Decreto Supremo n.° 013-2013-PRODUCE;
		</p>
		<p style="font-family: Arial;margin: 0; font-size: 12px;text-align: justify;">
		-	Al pago de asignación familiar, según el artículo 50 del Decreto Supremo n.° 013-2013-PRODUCE.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		SEXTA: Jornada y lugar de trabajo
		</p>

		<p style="font-family: Arial; margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL EMPLEADOR contrata los servicios de EL TRABAJADOR, para que labore 8 horas diarias o 48 semanales; pudiendo, el empleador, modificar la jornada de trabajo siempre que en promedio no sobrepase el límite convenido, las horas establecidas son efectivas y no se considera como trabajo efectivo el horario de refrigerio. Las partes acuerdan que, EL EMPLEADOR podrá disponer la rotación o destaque de EL TRABAJADOR para que preste sus servicios en el establecimiento principal y/o anexos de éste.
		</p>
		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Asimismo, las partes acuerdan que, únicamente durante el primer mes de trabajo, EL TRABAJADOR no se encontrará sujeto a fiscalización inmediata, es decir, no tendrá un control efectivo del tiempo de trabajo por parte de EL EMPLEADOR, no encontrándose comprendido dentro del registro de control de ingreso y salida. Este control o fiscalización inmediata se hará efectiva recién a partir del primer día del segundo mes de trabajo, en concordancia con el párrafo anterior.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		SÉTIMA: Remuneración
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Las partes, fijan una remuneración mensual de S/ 930.00 (Novecientos treinta y 00/100 Soles).
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		OCTAVA: Cumplimiento de Normas y entrega del RIT
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL TRABAJADOR deberá cumplir con las normas del Centro de Trabajo, el Reglamento Interno de Trabajo, y las que se impartan en ejercicio de las facultades de dirección de EL EMPLEADOR.
		</p>
		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Se hace constar que, a la fecha de suscripción del presente contrato, se ha procedido a hacer la entrega del Reglamento Interno de Trabajo a EL TRABAJADOR, para su conocimiento y cabal cumplimiento, siendo la firma de la presente el único comprobante de su entrega.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		NOVENA: Cláusula Resolutoria
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Ambas partes acuerdan que el presente contrato se resolverá de pleno derecho al vencimiento del plazo estipulado en el contrato, o de la prórroga del mismo, extinguiéndose el vínculo laboral. Asimismo, se resolverá el contrato, extinguiéndose el vínculo laboral, y antes del vencimiento del plazo estipulado en el contrato, de la prórroga del mismo, si ocurren cualquiera de los siguientes supuestos:
		</p>
		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		-	Por la resolución del contrato de arrendamiento suscrito por EL EMPLEADOR y el propietario del local donde EL TRABAJADOR viene desarrollando sus labores.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		DÉCIMA: Autorización de Uso de Imagen
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL TRABAJADOR autoriza a EL EMPLEADOR a utilizar las imágenes en las que sea parte y que se registren en las fotos y/o videos efectuados en cualquiera de los locales del EMPLEADOR, conforme a lo señalado en el Artículo 15 del Código Civil. Por lo tanto, autoriza su utilización y aprovechamiento para fines publicitarios, didácticos, académicos, institucionales y, en general, para su difusión en actividades, intereses o funciones de EL EMPLEADOR, en todo medio, sin limitaciones en el número de su uso, durante la vigencia del vínculo laboral, e incluso durante 2 años posteriores a la culminación del vínculo laboral.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		DÉCIMO PRIMERA: Pacto de Confidencialidad y Penalidad
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		EL TRABAJADOR se obliga a utilizar la información que sea suministrada y/o creada por las partes, en forma reservada, a no divulgarla ni comunicar cualquier información técnica facilitada por la otra parte; así como, a impedir la copia, transcripción o revelación a terceros, salvo que gocen de aprobación escrita de la otra parte. Estas obligaciones subsistirán indefinidamente con fuerza y vigor aún después de terminado el presente contrato por cualquier causa. En el supuesto caso que EL TRABAJADOR incumpliera lo dispuesto en la presente cláusula, las partes convienen el pago de una suma equivalente a 3 remuneraciones, penalidad que será asumida por EL TRABAJADOR, no obstante el vencimiento del presente contrato, y sin perjuicio de la indemnización por daños y perjuicios a que hubiere lugar.
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;font-weight: bold;text-align: justify;">
		DÉCIMO SEGUNDA: Domicilio de las partes y Solución de Controversias
		</p>

		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Ambas partes señalan como sus domicilios, los indicados en este contrato, donde se efectuarán, válidamente, las citaciones, comunicaciones y notificaciones a que hubiera lugar. Para efectos de cualquier controversia que se genere con motivo de la celebración y ejecución del presente contrato, las partes acuerdan someterse a la competencia territorial de los jueces y tribunales del Distrito Judicial de Santa.
		</p>
		<p style="font-family: Arial;margin-top: 8px; margin-bottom: 8px; font-size: 12px;text-align: justify;">
		Se suscribe el presente contrato en Nuevo Chimbote, el 02/07/2018.
		</p>
	<br><br><br>
	<p style="position: absolute;top: 1443px;left: 493px;">
		<img  width="100%">
	</p>
	<pre style="font-family: Arial;margin: 0; font-size: 10.5px;text-align: center;">
	____________________________		________________________________
	ANDARPA INVERSIONES S.A.C 		LOZANO JUAREZ GIANELLA JENIFFER
	<strong>EL EMPLEADOR</strong>			<strong>EL TRABAJADOR</strong>
	</pre>
</div>

<!-- <div id="parttime-chimbote" style="margin: 75.6px 75.6px 83px 95px;">
	<p style="font-family: Arial;font-size: 14.5px;font-weight: bold;text-align: center;">CONTRATO DE TRABAJO</p>

	<p style="font-family: Arial;font-size: 13.5px;font-weight: bold;text-align: center;">“INICIO O INCREMENTO DE ACTIVIDAD POR APERTURA DE NUEVO ESTABLECIMIENTO”</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	PRIMERA: Identificación de las partes
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">Conste por el presente documento, el CONTRATO DE TRABAJO A PLAZO FIJO, BAJO LA MODALIDAD DE INICIO O INCREMENTO DE ACTIVIDAD POR APERTURA DE NUEVO ESTABLECIMIENTO, que celebran:</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">-&nbsp;ANDARPA INVERSIONES SAC, con RUC n.º 20569146926, con domicilio en P.J. 3 de Octubre Mz. 10A Lt. 1 - Distrito de Nuevo Chimbote, Provincia Del Santa, Región Ancash, representada por LYNDA AINALEM GARCIA COTRINA, con DNI n.º 40054576, a quien en adelante se le denominará EL EMPLEADOR; y,
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">-	LOZANO JUAREZ GIANELLA JENIFFER, con DNI n.º 70118878, domiciliado en JR. LIBERTAD 135 PJ MIRAMAR BAJO MZ G LT 14A, Distrito de CHIMBOTE, Provincia Del Santa, Región Ancash, a quien en adelante se le denominará EL TRABAJADOR.</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	SEGUNDA: Antecedentes
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL EMPLEADOR, es una persona jurídica, acogida al Régimen de la Microempresa, según solicitud de trámite REMYPE n.° 0001250017-2013, de fecha 09 de agosto de 2013, y regulada por el Decreto Legislativo n.° 1086, tiene como principal actividad económica el expendio de productos alimenticios, así como, el servicio de restaurantes y catering.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	TERCERA: Objeto del Contrato
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL EMPLEADOR, en el desarrollo de su objeto social, viene incorporando al interior del organigrama empresarial, una serie de puestos de naturaleza temporal, en consideración a que el número de clientes se ha elevado de manera considerable, lo que ha conllevado a la apertura de un nuevo establecimiento, el cual se encuentra ubicado en Avenida José Pardo n.º 545-549, Distrito de Chimbote, Provincia del Santa, local que ha sido arrendado a favor de EL EMPLEADOR, según Contrato de Arrendamiento de Bien Inmueble, que corre inscrito en el Asiento D0003 de la Partida Registral n.º 07002202, del Registro de Propiedad Inmueble, de la Zona Registral n.º VII Sede Huaraz, Oficina Registral Chimbote; y el cual cuenta con Licencia Municipal de Funcionamiento otorgada por la Municipalidad Provincial del Santa en el mes de junio de 2017, requiriéndose, por ende, contar temporalmente, con un mayor número de personal, el cual es indispensable para cubrir las necesidades del nuevo establecimiento.
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Por esta causa, debidamente sustentada, EL EMPLEADOR, al amparo del Artículo 57 de la Ley de Productividad y Competitividad Laboral, aprobado por Decreto Supremo n.° 003-97-TR y normas complementarias, CONTRATA A PLAZO FIJO, BAJO LA MODALIDAD DE INICIO O INCREMENTO DE ACTIVIDAD, POR APERTURA DE NUEVO ESTABLECIMIENTO, los servicios de EL TRABAJADOR, quien desempeñará el cargo de CAPTURA EMOCIONES, en el ÁREA DE SERVICIO, debiendo cumplir con las funciones: Recopilar las fotos solicitadas por los invitados y/o LA EMPRESA, para la promoción en las redes sociales u otras plataformas en las que se requiera, y otras funcinoes afines o impartidas por la Administración o Gerencia.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	CUARTA: Duración del contrato
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	El presente contrato inicia el 02/07/2018 y culmina el 31/12/2018.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	QUINTA: Régimen Laboral Especial
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL TRABAJADOR es contratado bajo el RÉGIMEN LABORAL ESPECIAL, regulado por el TUO de la Ley de Impulso al Desarrollo Productivo y al Crecimiento Empresarial, aprobado por Decreto Supremo n.° 013-2013-PRODUCE, que estableció el marco legal para la promoción de la competitividad, formalización y desarrollo de las micro, pequeñas y medianas empresas, en el cual establece que los trabajadores de la pequeña empresa tienen derecho a:
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Percibir por lo menos una remuneración mínima vital;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Una jornada máxima de 08 horas diarias o 48 horas semanales;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Gozar de los feriados establecidos en el Régimen Laboral Común;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Al descanso semanal mínimo de 24 horas continuas y pago por sobretiempo;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Al descanso vacacional de 15 días calendarios por cada año completo de servicios;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	A afiliarse como asegurado regular del régimen contributivo de ESSALUD;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	A afiliarse al Sistema Nacional de Pensiones o al Sistema Privado de Pensiones;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	A percibir 02 gratificaciones al año (Fiestas Patrias y Navidad) en razón del 50% de la remuneración;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Al seguro de vida ley, a partir de los 4 años de servicios para el mismo empleador;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	A participar de las utilidades de la empresa, en caso corresponda;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Al depósito de la CTS equivalente a 15 días de remuneración por año de servicio, hasta el tope de 90 días de remuneración.
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Asimismo, establece que, NO tienen DERECHO a: 
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	La sobretasa del 35% en horario nocturno, según el artículo 53 del Decreto Supremo n.° 013-2013-PRODUCE;
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Al pago de asignación familiar, según el artículo 50 del Decreto Supremo n.° 013-2013-PRODUCE.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	SEXTA: Jornada y lugar de trabajo
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL EMPLEADOR contrata los servicios de EL TRABAJADOR, para que labore 8 horas diarias o 48 semanales; pudiendo, el empleador, modificar la jornada de trabajo siempre que en promedio no sobrepase el límite convenido, las horas establecidas son efectivas y no se considera como trabajo efectivo el horario de refrigerio. Las partes acuerdan que, EL EMPLEADOR podrá disponer la rotación o destaque de EL TRABAJADOR para que preste sus servicios en el establecimiento principal y/o anexos de éste.
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Asimismo, las partes acuerdan que, únicamente durante el primer mes de trabajo, EL TRABAJADOR no se encontrará sujeto a fiscalización inmediata, es decir, no tendrá un control efectivo del tiempo de trabajo por parte de EL EMPLEADOR, no encontrándose comprendido dentro del registro de control de ingreso y salida. Este control o fiscalización inmediata se hará efectiva recién a partir del primer día del segundo mes de trabajo, en concordancia con el párrafo anterior.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	SÉTIMA: Remuneración
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Las partes, fijan una remuneración mensual de S/ 930.00 (Novecientos treinta y 00/100 Soles).
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	OCTAVA: Cumplimiento de Normas y entrega del RIT
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL TRABAJADOR deberá cumplir con las normas del Centro de Trabajo, el Reglamento Interno de Trabajo, y las que se impartan en ejercicio de las facultades de dirección de EL EMPLEADOR.
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Se hace constar que, a la fecha de suscripción del presente contrato, se ha procedido a hacer la entrega del Reglamento Interno de Trabajo a EL TRABAJADOR, para su conocimiento y cabal cumplimiento, siendo la firma de la presente el único comprobante de su entrega.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	NOVENA: Cláusula Resolutoria
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Ambas partes acuerdan que el presente contrato se resolverá de pleno derecho al vencimiento del plazo estipulado en el contrato, o de la prórroga del mismo, extinguiéndose el vínculo laboral. Asimismo, se resolverá el contrato, extinguiéndose el vínculo laboral, y antes del vencimiento del plazo estipulado en el contrato, de la prórroga del mismo, si ocurren cualquiera de los siguientes supuestos:
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	-	Por la resolución del contrato de arrendamiento suscrito por EL EMPLEADOR y el propietario del local donde EL TRABAJADOR viene desarrollando sus labores.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	DÉCIMA: Autorización de Uso de Imagen
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL TRABAJADOR autoriza a EL EMPLEADOR a utilizar las imágenes en las que sea parte y que se registren en las fotos y/o videos efectuados en cualquiera de los locales del EMPLEADOR, conforme a lo señalado en el Artículo 15 del Código Civil. Por lo tanto, autoriza su utilización y aprovechamiento para fines publicitarios, didácticos, académicos, institucionales y, en general, para su difusión en actividades, intereses o funciones de EL EMPLEADOR, en todo medio, sin limitaciones en el número de su uso, durante la vigencia del vínculo laboral, e incluso durante 2 años posteriores a la culminación del vínculo laboral.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	DÉCIMO PRIMERA: Pacto de Confidencialidad y Penalidad
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	EL TRABAJADOR se obliga a utilizar la información que sea suministrada y/o creada por las partes, en forma reservada, a no divulgarla ni comunicar cualquier información técnica facilitada por la otra parte; así como, a impedir la copia, transcripción o revelación a terceros, salvo que gocen de aprobación escrita de la otra parte. Estas obligaciones subsistirán indefinidamente con fuerza y vigor aún después de terminado el presente contrato por cualquier causa. En el supuesto caso que EL TRABAJADOR incumpliera lo dispuesto en la presente cláusula, las partes convienen el pago de una suma equivalente a 3 remuneraciones, penalidad que será asumida por EL TRABAJADOR, no obstante el vencimiento del presente contrato, y sin perjuicio de la indemnización por daños y perjuicios a que hubiere lugar.
	</p>

	<p style="font-family: Arial;font-size: 12px;font-weight: bold;text-align: justify;">
	DÉCIMO SEGUNDA: Domicilio de las partes y Solución de Controversias
	</p>

	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Ambas partes señalan como sus domicilios, los indicados en este contrato, donde se efectuarán, válidamente, las citaciones, comunicaciones y notificaciones a que hubiera lugar. Para efectos de cualquier controversia que se genere con motivo de la celebración y ejecución del presente contrato, las partes acuerdan someterse a la competencia territorial de los jueces y tribunales del Distrito Judicial de Santa.
	</p>
	<p style="font-family: Arial;font-size: 12px;text-align: justify;">
	Se suscribe el presente contrato en Nuevo Chimbote, el 02/07/2018.
	</p>
</div> -->

<a class="word-export" href="javascript:void(0)"> Export as .doc </a> 

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="assets/js/FileSaver.js"></script> 
<script src="assets/js/jquery.wordexport.js"></script> 
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("a.word-export").click(function(event) {
        	alert();
            $("#fulltime-chimbote").wordExport();
        });
    });
    </script>
</body>


</html>
