/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    background: #fafafa;
    font-size: 0.9rem;
}

i{
    margin-right: 5px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex; 
    width: 100%;
}

#sidebar {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    background: #5165b9;
    color: #fff;
    transition: all .3s;
}

#sidebar.active {
    margin-left: -100px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #6179dd;
}

#sidebar .sidebar-header img{
    max-width: 100%;
    height: auto;
    display:block;
    margin:auto;
}

#sidebar .sidebar-subheader p{
    background: #6179dd;
    color: #fff;
    margin: 0;
    padding: 10px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#sidebar ul > li {
    padding: 10px;
    position: relative;
    width: 100px;
    background-color: #5165b9;
}

#sidebar ul li:hover {
    background-color: #778899;
}

#sidebar ul ul{
    transition: all .3s;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    left: 100px;
    top: 152px;
    z-index: 2;
    overflow: auto;
}

#sidebar ul ul div{
    padding-left: 30px;
    background-color: #5165b9;
    text-align: left;
    font-weight: bold;
}

#sidebar ul ul > li{
    text-align: left;
    padding-left: 30px;
    width: 230px;
    background-color: #5165b9;
}

#sidebar ul ul > li:hover{
    text-align: left;
    padding-left: 30px;
    width: 230px;
    background-color: #778899;
}

#sidebar ul li a > ul{
    width: 250px;
}

#sidebar ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

#sidebar ul li a{
    color: #fff;
    text-decoration: none;
}
/*
#sidebar .components ul li > a {
    padding: 10px;
    text-align: left;
}

#sidebar .components ul li > a i {
    margin-right: 5px;
}

#sidebar ul li a {
    padding: 5px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li ul{
    position: fixed;
    width: 250px;
    top: 168px;
    bottom: 0;
    margin-left: 100px;
    background: #6d7fcc;
    z-index: 999;
    list-style: none;
    box-shadow: 3px 0 3px 3px rgba(0,0,0,.05);
    
    transition: all .3s;
}

#sidebar ul li ul div {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

#sidebar ul li ul{
    visibility: hidden;
} 

#sidebar ul li a:focus ~ div ul{
    visibility: visible;
    overflow-y: auto;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    background: #6d7fcc;
} */

/*#sidebarCollapse {
    cursor: pointer;
    border: none;
    vertical-align: middle;
} */

/* #sidebar ul li.active>a,
 a[aria-expanded="true"] {
     color: #fff;
     background: #6d7fcc;
 } */ 

/* a[data-toggle="collapse"] {
    position: relative; 
} */

/* .sub-sidebar::after {
    display: block;
    position: absolute; 
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}  */

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 100px); 
    padding: 0px 10px 30px 10px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -100px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 100px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

footer.main-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fafafa;
    padding: 0 0 0 0;
}

fieldset {
    border: 1px solid silver;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 4px;
    border-radius: 4px;
}

legend {
    padding: 2px;
    font-size: 0.9rem;   
}

.header-page{
    font-size: 1rem;
    background-color: #e0e0e0;
    margin-bottom: 0px;
}

.header-page button{
    border: none;
}

.subheader-page{
    padding: 0px;
}

.subheader-page span{
    padding: 0px;
    margin-left: 10px;
}